.item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    width: 50%;
    border: 1px solid black;
    margin-bottom: 10px;
}

.item img {
    width: 15px;
}

.item .item-title {
    font-size: 20px;
}
