.card {
    height: 250px;
    width: 50%;
    padding: 20px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;

    font-family: "Roboto Mono", monospace, sans-serif;
    border: 1px solid #fff;
    border-radius: 15px;
    /*box-shadow: 3px 3px 1em gold; sombra nas bordas */
    background-color: #fff;

    transition: filter 0.5s;
}

.card:hover {
    filter: drop-shadow(0 0 0.9rem gold);
}

.repo-title {
    font-size: 27px;
    padding-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.repo-description {
    font-size: 17px;
    font-weight: 400;
    padding: 0 60px 30px 0;

    overflow: hidden;
    text-overflow: ellipsis; /* adiciona um ... quando o texto e grande */
    white-space: nowrap;
    font-style: italic;
}

a {
    text-decoration: none;
}

header {
    height: 180px;
}

/* flex sozinho é o flex grow, que completa os espaços vazios do container */
/* header ocupara tudo, menos o content da section */
main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

main img {
    width: 25px;
}

main div {
    display: flex;
    align-items: center;
    gap: 3px; /* espaço entre a img e os labels */
}
